// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import responsive stuff
@import "components/variables";
@import "components/elements";
@import "components/desktop";
@import "components/tablet";
@import "components/smartphone";

// General
body{
  background: white;
}

// Sections & page layout
section {
  &.header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &.menu {
    background: $greyLight;
  }
  &.news-slider {
  }
  &.upcoming {
    padding-top: 2em;
    padding-bottom: 2em;
    background: $yellowDark;
    color: white;
  }
  &.large-blocks {
    margin-top: 20px;
  }
  &.stay-informed {
    background: $blueLight;
    color: white;
    height: 60px;
    line-height: 60px;
  }
  &.footer {
    background: $greyLight;
    color: $textGreyDark;
    // TEMP
    min-height: 400px;
    padding-top: 2em;
  }
  &.separator {
    .container {
      height: 0;
      border-top: 3px solid $greyDark;
      border-bottom: 3px solid $greyDark;
      margin-top: 1em;
      margin-bottom: 1em;
      @include rounded;
    }
  }
}


// Menu Section
section.menu {
  ul.items {
    li.item {
      a {
        text-decoration: none;
      }
      ul {
        display: none;
      }
    }
  }
}