// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import responsive stuff
@import "components/variables";
@import "components/elements";
@import "components/desktop";
@import "components/tablet";
@import "components/smartphone";

/* General Sections & Page Layout */
nav {
  &.menu {
    background: $greyLight;
  }
}

section {
  &.header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &.breadcrumb {
    background: none;
    margin-top: 10px;
  }
  &.large-blocks {
    margin-top: 20px;
  }
  &.stay-informed {
    background: $blueLight;
    color: white;
  }
  &.footer {
    background: $greyLight;
    color: $textGreyDark;
    // TEMP
    min-height: 400px;
    padding-top: 2em;
  }
  &.separator {
    .container {
      height: 0;
      border-top: 3px solid $greyDark;
      border-bottom: 3px solid $greyDark;
      margin-top: 1em;
      margin-bottom: 1em;
      @include rounded;
    }
  }
}

/* Scroll to top */
.scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 999;
  width: 39px;
  height: 46px;
  background: url(../images/sprite.png) no-repeat left -233px;
  a {
    display: block;
    height: 46px;
    text-indent: -999em;
    cursor: pointer;
    border: none;
  }
}


/* Menu Section */
nav.menu {
  ul.items {
    li.item {
      a {
        text-decoration: none;
      }
      ul {
        display: none;
      }
    }
  }
}

/* News slider Section */
section.news-slider {
  position: relative;
  padding-bottom: 40px;
  .flexslider {
    width: 100%;
	  ul.slides {
	    margin: 0;
	    padding: 0;
	    li.slide {
	      background: $greyLight;
	      margin: 0;
	      padding: 0;
	      .text {
	        padding-top: 10px;
	        padding-bottom: 20px;
	        margin: 0 auto;
	        text-align: center;
	      }
	      .visual {
	        img {
	          max-width: 100%;
	        }
	      }
	    }
	  }
	  ol.flex-control-paging {
	    position: absolute;
	    bottom: 5px;
	    text-align: center;
	    width: 100%;
	    margin: 0 auto;
	    padding: 0;
	    list-style: none;
	    li {
	      margin: 0;
	      padding: 0;
	      width: 10px;
	      display: inline-block;
	      height: 10px;
	      margin-right: 10px;
	      a {
	        display: block;
	        width: 10px;
	        height: 10px;
	        background: url(../images/sprite.png) no-repeat left -124px;
	        text-indent: -999em;
	        cursor: pointer;
	        &.flex-active {
	          background-position: -10px -124px;
	        }
	      }
	    }
	  }
	}
}

/* Visual Info Section */
section.visual-info {
  margin-top: 10px;
  .text {
    padding-top: 10px;
    padding-bottom: 20px;
    background: $greyLight;
    text-align: center;
  }
  .visual {
    img {
      max-width: 100%;
    }
  }
  
}

/* Blocks Section */
section.large-blocks {
  .block {
    margin-bottom: 20px;
    position: relative;
    .title {
      position: absolute;
      top: 0;
      margin-left: 25%;
      width: 50%;
      padding: 10px 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      text-align: center;
      font-size: 1.143em;
      text-transform: uppercase;
    }
    .description {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      font-size: 1.286em;
    }
    .visual {
      img {
        max-width: 100%;
      }
    }
    &.green {
      .description {
        background: rgba(206,220,154, 0.8);
      }
      .title {
        background: rgb(206,220,154);
      }
    }
    &.blue {
      .description {
        background: rgba(124,180,228, 0.8);
        color: white;
      }
      .title {
        background: rgb(124,180,228);
        color: white;
      }
    }
    &.yellow {
      .description {
        background: rgba(238,190,44, 0.8);
      }
      .title {
        background: rgb(238,190,44);
      }
    }
    &.orange {
      .description {
        background: rgba(205,124,28, 0.8);
        color: white;
      }
      .title {
        background: rgb(205,124,28);
        color: white;
      }
    }
    &.petrol {
      .description {
        background: rgba(85,131,153, 0.8);
        color: white;
      }
      .title {
        background: rgb(85,131,153);
        color: white;
      }
    }
    &.purple {
      .description {
        background: rgba(172,159,196, 0.8);
      }
      .title {
        background: rgb(172,159,196);
      }
    }
  }
}

/* Main Content Section */
section.main {
  ul {
    li {
      margin-bottom: 20px;
    }
  }
  
  .indent {
    margin-left: 1em;
  }
  
  /* Publications */
  ul.publications {
    clear: left;
    margin: 0;
    padding: 0;
    li.publication {
      margin: 0;
      padding: 0;
      list-style: none;
      .visual {
        img {
	        float: left;
	        margin-right: 3em;
	        max-width: 100%;
        }
      }
    }
  }
}

/* Facts Section */
section.facts {
  .fact {
    height: 140px;
    padding-left: 150px;
    p {
      min-width: 150px;
      height: 140px;
      margin-left: 140px;
      padding: 5px 20px;
      padding-right: 0;
      vertical-align: middle;
      display: table-cell;
    }
    &.people {
      p {
        border-top: 5px solid #a2bc6b;
        border-bottom: 5px solid #a2bc6b;
        color: #a2bc6b;
      }
      background: url(../images/facts/people.jpg) no-repeat;
    }
    &.companies {
      p {
        border-top: 5px solid #eebe2c;
        border-bottom: 5px solid #eebe2c;
        color: #eebe2c;
      }
      background: url(../images/facts/companies.jpg) no-repeat;    
    }
    &.countries {
      background: url(../images/facts/countries.jpg) no-repeat;    
      p {
        border-top: 5px solid #548399;
        border-bottom: 5px solid #548399;
        color: #548399;
      }
    }
  }
}

/* Partners Section */
section.partners {
  .flexslider-partners {
    position: relative;
    margin-bottom: 20px;    
	  ul.slides {
	    margin: 0;
	    padding: 0;
	    li.slide {
	      margin: 0;
	      padding: 0;
	      text-align: center;
	      img {
	        text-align: center;
	        width: 50%;
	      }
	    }
	  }
	  ul.flex-direction-nav {
	    li {
	      position: absolute;
	      top: 10%;
	      width: 19px;
	      height: 87px;
	      background: url(../images/sprite.png) no-repeat left -140px;
	      text-indent: -999em;
	      &.flex-nav-prev {
	        left: 10px;
	      }
	      &.flex-nav-next {
	        right: 10px;
	        background-position: -19px -140px;
	      }
	      a {
	        display: block;
	        height: 87px;
	        cursor: pointer;
	        border: none;
	      }
	    }
	  }
  }
}

/* Stay Informed Section */
section.stay-informed {
  form {
		::-webkit-input-placeholder {
		 color: white;
		}
		:-moz-placeholder { /* older Firefox*/
		 color: white;
		}
		::-moz-placeholder { /* Firefox 19+ */ 
		 color: white;
		} 
		:-ms-input-placeholder { 
		 color: white;
		}  
    text-align: right;
    .form-text, .form-email, .form-submit {
      height: 30px;
      line-height: 30px;
    }
    .form-email {
      border: 1px solid white;
      border-radius: 5px;
      background: $blueLight;
      color: white;
      margin-top: 15px;
      padding: 0;
      margin-right: 10px;
      padding: 0 10px;
      min-width: 75%;
    }
    .form-submit {
      background: white;
      color: $blueLight;
      border-radius: 5px;
      border: none;
      padding: 0 10px;
      text-transform: uppercase;
    }
  }
}

/* Tables */
.table {
  .table-row {
    border-bottom: 1px solid $greyLight;
    padding: 10px 0;
    clear: left;
    .table-cell {
      &.left {
        width: 80%;
        float: left;
      }
      &.center {
        width: 10%;
        float: left;
      }
      &.right {
        width: 10%;
        float: left;
      }
    }
    
  }
}

/* Download icons */
ul.download {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 1em;
    a {
      display: block;
      background: url(../images/sprite.png) no-repeat;
      width: 40px;
      height: 40px;
      text-indent: -999em;
      &:hover {
        border: none;
      }
    }
    &.pdf {
      a {
        background-position: left -298px;
      }
    }
    &.excel {
      a {
        background-position: -40px -298px;
      }
    }
    &.word {
      a {
        background-position: -80px -298px;
      }
    }
  }
}