/* Desktop and tablet */
/*@media all and (min-width: 992px) { */
@media all and (min-width: 768px) {

  .resp-true {
    display: none !important; 
  }
  .resp-false {
    display: block;
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
  }

  section.header {
    form.login {
      margin-top: 1em;
      input {
        &.login {
          min-width: 16em;
        }
      }
    }
  }

  .loggedin {
    nav.menu {
      ul.main-menu {
        li.item {
          margin-right: 30px;
        }
      }
    }
  }

	nav.menu {
    height: 40px;
    line-height: 40px;
    position: relative;
	  ul.main-menu {
	    margin: 0;
	    padding: 0;
	    font-size: 1.143em;
	    font-weight: 800;
	    li.item {
	      margin: 0;
	      padding: 0;
	      display: inline-block;
	      list-style: none;
	      height: 40px;
	      line-height: 40px;
	      margin-right: 90px;
        color: $textGreyDark;
        a {
          &.active {
            color: black;
          }
        }
	      &.home {
	        background: url(../images/sprite.png) no-repeat left top;
	        width: 30px;
	        text-indent: -999em;
	        a {
	          display: block;
	          width: 30px;
	          height: 40px;
	          border: none;
	        }
	      }
	      &.search {
          background: url(../images/sprite.png) no-repeat right -37px;
          width: 32px;
          height: 40px;
          text-indent: -999em;
          margin-right: 0;
          a {
            display: block;
            width: 32px;
            height: 40px;
            border: none;
          }
	      }
	      &.member {
	        background: url(../images/sprite.png) no-repeat -31px top;
	        width: 39px;
	        height: 40px;
	        text-indent: -999em;
	        margin-right: 0;
	      }
	    }
	  }
	}
	
	section.submenus {
	  position: relative;
	  .inner {
	    position: absolute;
	    top: 10px;
	    z-index: 10000;
	    width: 100%;
	    max-width: 1280px;
      background: $greyLight;
		  .submenu {
		    display: none;
		    padding: 2em 0;
		    max-width: 1024px;
		    margin: 0 auto;
		    font-size: 1.3em;
		    ul.subitems {
		      margin: 0;
		      padding: 0;
		      li.subitem {
		        list-style: none;
		        margin: 0;
		        padding: 0;
		        margin-bottom: 10px;
		        ul {
		          li.subitem {
					font-style: italic;
					font-size: 0.9em;
		          }
		        }
		      }
		    }
		    .column {
		      border-right: 1px solid white;
		      padding: 0 2em;
		      &.last {
		        border-right: none;
		      }
		    }
		  }
	  }
	}
	
	section.news-slider {
	  margin-top: 10px;
	  .flexslider {
	    max-width: 1280px;
		  ul.slides {
		    li.slide {
		      .text {
		        max-width: 1024px;	      
		      }
		    }
		  }
      ol.flex-control-paging {
        max-width: 1280px !important;
      }

		}
	}
	
	section.partners {
	  .flexslider-partners {
	    padding-left: 100px;
	    padding-right: 100px;
	  }
	  ul.slides {
	    li.slide {
	   	  img {
	   	  	width: 80% !important;
	   	  }
	    }
	  }
	}
	
	section.stay-informed {
    height: 60px;
    line-height: 60px;
	}

  section.main {
    .indent {
      margin-left: 3em !important;
    }
  }
  
  /* Contact link */
  .search {
    .contact {
      a {
        background: url(../images/sprite.png) no-repeat left -354px;
        display: inline-block;
        text-indent: -999em;
        border: none;
        width: 30px;
        height: 20px;
        margin-right: 20px;
        &.issuu {
          background-position: -35px -354px;
          width: 83px;
        }
      }
    }
  }

}


/* Desktop only */
@media all and (min-width: 1023px) {
  .container {
    max-width: 1024px;
  }
  
  .container-large {
    max-width: 1280px;
    margin: 0 auto;
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    .row {
      clear: both;
      margin-bottom: 20px;
    }
    .col-md-4 {
      margin: 0;
      padding: 0;
    }
  }
}


/* Desktop between 1024 and 1280 px */
@media all and (min-width: 1024px) and (max-width: 1279px) {

  /* main menu fix */
	nav.menu {
	  ul.main-menu {
	    li.item {
	      margin-right: 80px;
	    }
	  }
	}
	

}