@media all and (min-width: 510px) and (max-width: 991px) {
}

@media all and (min-width: 320px) and (max-width: 991px) {

  // Genereal
  .resp-true {
    display: block; 
  }
  .resp-false {
    display: none;
  }

  .container {
    margin: 0;
    padding: 0;
  }
  
  .col-md-12 {
    margin: 0;
    padding: 0;
  }
  .col-md-4 {
    margin: 0;
    padding: 0;
  }


  img {
    max-width: 100%;  
  }

  /* Menu */
  section.menu {
    border-top: 1px solid $greyDark;
    .trigger {
      height: 80px;
      line-height: 80px;
      background: $greyLight url(../images/sprite.png) no-repeat left -40px;
      a {
        text-align: right;
        display: block;
        background: url(../images/sprite.png) no-repeat right -120px;
        font-size: 1.4em;
        font-weight: 800;
        padding-right: 4em;
        border: none;
      }
    }
    a {
      border: none !important;
    }
    ul.items {    
      position: fixed;
      top: 0;
      left: 100%;
      z-index: 1000;
      width: 95%;
      background: $textGreyDark;
      color: white;
      margin: 0;
      padding: 0 1em;
      padding-top: 45px;
      li.item {
        list-style: none;
        border-top: 1px solid $greyDark;
        min-height: 35px;
        line-height: 35px;
        background: url(../images/sprite.png) no-repeat right -200px;
        &.expanded {
          background-position: right -233px;
          a {
            color: $greyLight;
          }
        }
        a {
          color: white;
          font-weight: 300;
          display: block;
        }
        ul.subitems {
          margin-left: 0;
          padding-left: 1em;
          li.subitem {
            margin: 0;
            padding: 0;
            a {
              color: white;
            }
          }
        }
        &.resp-close {
          border: none;
          background: none;
          position: absolute;
          right: 15px;
          top: 10px;
          a {
            width: 27px;
            height: 27px;
            display: block;
            text-indent: -999em;
            background: url(../images/sprite.png) no-repeat right -84px;
          }
        }
        &.resp-search-menu {
          min-height: 35px;
          border-top: none;
          form {
            padding-top: 3px;
            height: 25px;
            line-height: 25px;
            .form-text {
              padding: 3px;
              border-radius: 5px;
              border: 1px solid white;
              background: $textGreyDark;
              color: white;
              width: 80%;
              font-weight: 300;
            }
            .form-submit {
              width: 34px;
              height: 33px;
              border: none;
              background: url(../images/sprite.png) no-repeat right top;
              text-indent: -999em;
              cursor: pointer;
              float: right;
            }
          }
        }
        &.resp-login {
          margin-bottom: 20px;
          border-bottom: 1px solid $greyDark;
        }
        &.resp-footer-menu {
          background: none;
          padding-top: 15px;
          line-height: 1.2em !important;
          img {
            float: left;
          }
          p, h2 {
            margin-left: 80px;
          }
          a {
            &:hover {
              border-bottom: 1px solid white;
            }
          }
        }
      }
    }
  }

  /* News Slider */
	section.news-slider {
	  margin-top: 20px;
	  ul.slides {
	    margin: 0;
	    padding: 0;
	    li.slide {
	      .text {
          padding: 0 20px;
	      }
	    }
	  }
	  ol.flex-control-paging {
	  }
	  ul.flex-direction-nav {
	  }
	}
 
  /* Facts */
  section.facts {
    .fact {
      margin: 0 10px;
      margin-bottom: 10px;
      p {
        margin-left: 145px !important;
      }
    }
  }

  /* Partners */
  section.partners {
    .container {
	    margin-left: 10px;
	    margin-right: 10px;
	    ul.slides {
	      li.slide {
	      }
	    }
	  }
  }
  
  /* Stay Informed */
  section.stay-informed {
    padding: 2em 0;
    strong {
      font-size: 1.2em;
    }
  } 


}
