@media all and (min-width: 510px) and (max-width: 991px) {
}

@media all and (min-width: 320px) and (max-width: 991px) {

  // Genereal
  .resp-true {
    display: block; 
  }
  .resp-false {
    display: none;
  }

  .container {
    margin: 0;
    padding: 0;
  }
  
  .col-md-12 {
    margin: 0;
    padding: 0;
  }


  img {
    max-width: 100%;  
  }

  // Menu
  section.menu {
    margin-top: 5px;
    border-top: 1px solid $greyDark;
    .trigger {
      height: 115px;
      line-height: 115px;
      background: $greyLight url(../images/sprite.png) no-repeat left -40px;
      a {
        text-align: right;
        display: block;
        background: url(../images/sprite.png) no-repeat right -155px;
        font-size: 1.4em;
        font-weight: 800;
        padding-right: 4em;
      }
    }
  }

}