@media all and (min-width: 641px) and (max-width: 1024px) {

  img {
    max-width: 100%;
  }

  /* Main Menu */
	nav.menu {
    ul.main-menu {
      li.item {
        margin-right: 40px;
      }
    }
  }
  
  /* Large Blocks */
  section.large-blocks {
    .clearfix {
      float: none;
      clear: none;
    }
    .block {
      width: 48%;
      float: left;
      padding: 0;
      margin: 0;
      margin-right: 5px;
      .visual {
        img {
          width: 100% !important;
        }
      }
    }
  } 


}